<%- include('partials/header') -%>
    <div>
        <div>
            <section>
                <h1>Feed</h1>
                <ul>
                    <% blogs.forEach( el => { %>
                      
                            
                        <li class='blogItem' data-id='<%=el._id%>'>
                            <a href="blog.ejs">
                                <h2><%= el.title %></h2>
                            </a>
                            <span><%= el.userName %></span>
                            <span><%= el.likes %></span>
                            <span class='likes fa fa-thumbs-up'></span>
                        </li>
                        
                            
                    <% }) %>    
                    </ul>
            </section>
        </div>
        <div>
            <a href="/blogs">My Blogs</a>
            <a href="/logout">Logout</a>
        </div>
        
    </div>
<%- include('partials/footer') -%>