<%- include('partials/header') -%>

    <div>
        <section>
        <h1><%=post.title%></h1>
        <a href="userprofile">
            <h3><%=post.userName%></h3>
        </a>
        <p><%=post.body%></p>
        <span><%= post.likes %></span>
        
        <span class='likes fa fa-thumbs-up'></span>
        </section>

    </div>

<%- include('partials/footer') -%>