<%- include('partials/header') -%>

    <div>
        <div>
            <section>
                <h1>My Blogs</h1>
                <ul>
                <% posts.forEach( el => { %>
                        <li class='postItem' data-id='<%=el._id%>'>
                            <h2><%= el.title %></h2>
                            <p><%= el.body %></p>
                            <span><%= el.likes %></span>
                            <span class='fa fa-trash del'></span>
                        </li>
                <% }) %>    
                </ul>
            </section>
        </div> 
        <div>
         <section>
                <h2>Create a new post:</h2>
                <form action="/userPosts/createPost" method='POST'>
                    <input type="text" placeholder="Title" name='title'>
                    <textarea type="text" placeholder="Body" name='body'></textarea>
                    <input type="submit">
                </form>
            </section>
        </div>
        <div>
            <a href="/dashboard">Feed</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

<%- include('partials/footer') -%>